<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="color-scheme" content="light">
        <title>NBA</title>
        <link rel="stylesheet" href="/CSS/index.css">
        <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.css">
        <link rel="shortcut icon" href="/image/icon.png" type="image/x-icon">
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    </head>

<body>
  <header id="header" role="banner" class="main-header"> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="ss">
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/HTML/index.html"><B><B><B>Home</B></B></B>
                  <span class="visually-hidden"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/HTML/Equipe.html"><B><B><B>Equipe</B></B></B></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/HTML/préféré.html"><B><B><B>Préféré</B></B></B></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/HTML/Savoir.html"><B><B><B>Savoir plus</B></B></B></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </nav>
    </header>
    <div class="page">
        <div class="img">
            <img src="/image/NBA.jpg" title="LOGO"
            width="50%" height="40%"/>
          </div>
        
        <div class="titre">
          <h1>Bienvenue sur<br> NBA FAN</h1>
        </div>

        <div class="texte">
        <p>Dans ces différentes rubriques vous pourrez admirer différentes équipes de la NBA ainsi que certaines élus championnes de la ligue national et principal des USA et mes préférés.</p>
        </div>
    </div>
    <script>
      function addDarkmodeWidget() {
        new Darkmode().showWidget();
      }
      window.addEventListener('load', addDarkmodeWidget);
    </script>
</body>

    <footer>

    </footer>
</html>